__pycache__/
prototype/chat/__pycache__/
prototype/chat/chat.txt
prototype/chat/HostIp.txt
prototype/chat/HostChat.txt
prototype/chat/role.txt
prototype/chat/playerNumber.txt
*.pyc
test/
prototype/game.py
prototype/main_reseau.py
prototype/role.py
prototype/useful_functions.py
